@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    6315 haring street<br />
    rego park, NY 11374<br />
    <abbr title="Phone">P:</abbr>
    347-873-1845
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sureshmaharjan24@hotmail.com">Support@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sureshmaharjan24@hotmail.com">Marketing@hotmail.com</a>
</address>