################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


PeopleBotTrust/PeopleBotTrust.csproj
EFPeopleBotTrust/EFPeopleBotTrust.csproj
EFPeopleBotTrust.sln
.vs/config/applicationhost.config
