@model IEnumerable<EFPeepalbot.AccountType>

@{
    ViewBag.Title = "AccountTypes";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Account Type</h3>
        <div class="panel-tool"> <a class="btn btn-info btn-sm" href="/AccountType/create">Create</a> </div>
    </div>
    <div class="panel-body">

        <table id="AccountTypes" class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a class="btn btn-xs btn-warning" href="/AccountType/Edit/@item.Id" title="Edit Record"><i class="glyphicon glyphicon-pencil"></i></a>
                        <button type="button" title="View Detail" class="btn btn-xs btn-info show-detail" data-url="/AccountType/Details/@(item.Id)"><i class="glyphicon glyphicon-eye-open"></i></button>
                        <button type="button" title="Delete Record" class="btn btn-xs btn-danger delete-row" data-url="/AccountType/Delete/@(item.Id)"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                    @*<td>
                            <a href="/Members/Edit/@item.Id" title="Edit Record"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="/Members/Details/@item.Id" title="View Details"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a href="/Members/Delete/@item.Id" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>*@
                </tr>
            }
        </table>
    </div>
</div>

<div class="modal fade" id="AccountType-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Loading...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-primary" href="/AccountType/edit/">Edit</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".show-detail").click(function () {
                //$(".show-detail").on("click", function () {
                //$(document).on("click", ".show-detail", function () {
                let $this = $(this);
                let url = $this.attr("data-url");

                $.ajax({
                    method: "get",
                    url: url,
                    dataType: "json", //"json" or "html" or...
                    success: function (response) {

                        //let text = '<div class=""><dl class="dl-horizontal">'
                        //text += '<dt>'+response.Data.Id+'</dt >';
                        //text += '</dl></div >';

                        let text = `<div class="">
                                              <dl class="dl-horizontal">
                                                <dt>Name</dt>
                                                <dd>${response.Data.Name}</dd>

                                                <dt>Description</dt>
                                                 <dd>${response.Data.Description}</dd>
                                              </dl>
                                        </div>`;

                        $("#AccountType-detail").modal();
                        $('#AccountType-detail').on('shown.bs.modal', function (event) {
                            var modal = $(this)
                            modal.find('.modal-title').text('AccountType Detail');
                            modal.find('.modal-body').html(text);

                            //val, text, html::: differenct
                        })
                    },
                    error: function () {
                        alert('error')
                    }
                });


            });
        });



    </script>
}
