@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>PeepalBot Trust</h2>
    <p class="lead">PeepalBot Trust is founded by group of closed friends and families living in kathmandu around Bhotebahal neighbor.The sole mission of this trust is to build an investment fund to help out members of Trust during financial needs.It provides personal loans with better, affordable and nominal interest rate than competitive market rates to ease the finanical crisis.It was started with few families members and now has grown to dozen core-members.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>
            Trust has orginized several events in the past like charities, fund raising , picnics and excorsions to various part of Nepal.
        </p>
        <p><a class="btn btn-default" href="">Learn more about future events &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>Check about some of the best memories of involvement of the members.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Newsletter</h2>
        <p>News of the organization and social media.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>